@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
}

body {
  background-color: rgb(var(--background-rgb));
  height: 100vh;
}

#__next {
  height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* Change functionality of Footers */
@media (min-width: 768px) {
  [data-title]:hover::after {
    opacity: 1;
    transition: all 0.2s ease 0.250s;
    visibility: visible;
  }

  [data-title]:after {
    content: attr(data-title);
    background-color: #000;
    font-size: 100%;
    left: 20%;
    color: white;
    position: absolute;
    padding: 1px 5px 2px 5px;
    white-space: nowrap;
    box-shadow: 1px 1px 3px #222222;
    opacity: 0;
    border: 1px solid #fff;
    border-radius: 0.5rem;
    z-index: 99999;
    visibility: visible;
  }
}

@media (max-width: 768px) {
  [data-title]:before {
    content: attr(data-title);
    background-color: #000;
    font-size: 100%;
    color: white;
    text-align: left;
  }
}

[data-title] {
  position: relative;
}